
        <div class="footer container" style="margin-top: 60px;">
            <div class="row">
                <div class="col-xs-12">
                    <a href="https://github.com/kuriishu27" style="color: white;" class="copyright">© 2017 Keys to Teach Proudly created with Christian Leovido</a>
                </div>
            </div>
        </div>

    <!-- Plugin JavaScript -->
	<script src="/dist/js/scripts.min.js"></script>
	
    <!-- Typeform survey -->
    <script> 
        (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() 
	</script>

	<!-- <script>
	
	var nflTeams = new Bloodhound({
		datumTokenizer: Bloodhound.tokenizers.obj.whitespace('team'),
		queryTokenizer: Bloodhound.tokenizers.whitespace,
		identify: function(obj) { return obj.team; },
		prefetch: '../data/nfl.json'
	  });
	  
	  function nflTeamsWithDefaults(q, sync) {
		if (q === '') {
		  sync(nflTeams.get('Detroit Lions', 'Green Bay Packers', 'Chicago Bears'));
		}
	  
		else {
		  nflTeams.search(q, sync);
		}
	  }
	  
	  $('#default-suggestions .typeahead').typeahead({
		minLength: 0,
		highlight: true
	  },
	  {
		name: 'nfl-teams',
		display: 'team',
		source: nflTeamsWithDefaults
	  });

	</script> -->
    <script src="../js/classie.js"></script>
    
    <script>
    
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
		menuRight = document.getElementById( 'cbp-spmenu-s2' ),
		menuTop = document.getElementById( 'cbp-spmenu-s3' ),
		menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
		showLeft = document.getElementById( 'showLeft' ),
		showRight = document.getElementById( 'showRight' ),
		showTop = document.getElementById( 'showTop' ),
		showBottom = document.getElementById( 'showBottom' ),
		showLeftPush = document.getElementById( 'showLeftPush' ),
		showRightPush = document.getElementById( 'showRightPush' ),
		body = document.body;

showLeft.onclick = function() {
	console.log('left');
	classie.toggle( this, 'active' );
	classie.toggle( menuLeft, 'cbp-spmenu-open' );
	disableOther( 'showLeft' );
};
showRight.onclick = function() {
	console.log("working");
	classie.toggle( this, 'active' );
	classie.toggle( menuRight, 'cbp-spmenu-open' );
	disableOther( 'showRight' );
};
showTop.onclick = function() {
	classie.toggle( this, 'active' );
	classie.toggle( menuTop, 'cbp-spmenu-open' );
	disableOther( 'showTop' );
};
showBottom.onclick = function() {
	classie.toggle( this, 'active' );
	classie.toggle( menuBottom, 'cbp-spmenu-open' );
	disableOther( 'showBottom' );
};
showLeftPush.onclick = function() {
	classie.toggle( this, 'active' );
	classie.toggle( body, 'cbp-spmenu-push-toright' );
	classie.toggle( menuLeft, 'cbp-spmenu-open' );
	disableOther( 'showLeftPush' );
};
showRightPush.onclick = function() {
	classie.toggle( this, 'active' );
	classie.toggle( body, 'cbp-spmenu-push-toleft' );
	classie.toggle( menuRight, 'cbp-spmenu-open' );
	disableOther( 'showRightPush' );
};

function disableOther( button ) {
	if( button !== 'showLeft' ) {
		classie.toggle( showLeft, 'disabled' );
	}
	if( button !== 'showRight' ) {
		classie.toggle( showRight, 'disabled' );
	}
	if( button !== 'showTop' ) {
		classie.toggle( showTop, 'disabled' );
	}
	if( button !== 'showBottom' ) {
		classie.toggle( showBottom, 'disabled' );
	}
	if( button !== 'showLeftPush' ) {
		classie.toggle( showLeftPush, 'disabled' );
	}
	if( button !== 'showRightPush' ) {
		classie.toggle( showRightPush, 'disabled' );
	}
}

	</script>
	
	<script>
	$(document).ready(function(){       
		var scroll_start = 0;
		var startchange = $('#startchange');
		var offset = startchange.offset();
		$(document).scroll(function() { 
		   scroll_start = $(this).scrollTop();
		   if(scroll_start > offset.top) {
			$('.navbar').css('transition', 'all 300ms ease-in-out');
			   $('.navbar-fixed-top').css('background-color', '#000000');
			} else {
			   $('.navbar-fixed-top').css('background-color', 'transparent');
			}
		});
	 });  
	  
	</script>

    <script>
        html = html.replace(/</g, "&lt;").replace(/>/g, "&gt;");
    </script>

</body>

</html>
