<% include ./partials/header %>

<section id="about" style="margin-top: 100px;margin-bottom: 100px;">
        <div class="clearfix container">
                <h1 class="h-custom">About</h1>
                
                    <div class="col-sm-7 col-md-8 spacing">
                        <p style="text-align:justify">Keys to Teach is a website addressed to individual teachers/instructors and students of this magnifique instrument.   Here, a collection of "keys" or teaching strategies can be found alongside exercises and resources to teach and help the pupil achieve, in the most effective way, their pianistic-musical objective.</p>
                        <p style="text-align:justify">There are many learning and teaching strategies to be used during the piano lesson, from imagery, mnemonics (see website), demonstration and scaffolding, to the use of interesting tools such as recordings, toys or apps.</p>
                    </div>
                    <div class="hidden-xs col-sm-5 col-md-4 spacing">
                        <img src="../img/about-1.jpg" alt="Piano playing" class="img-responsive img-thumbnail about-img">
                    </div>
                    <div class="hidden-xs col-sm-5 col-md-4 spacing">
                        <img src="../img/about-2.jpg" alt="Piano playing" class="img-responsive img-thumbnail about-img">
                    </div>
                    <div class="col-sm-7 col-md-8 spacing">
                        <p style="text-align:justify">The material found on this website comes from a variety of resources including Masterclasses, teachers and professors, books, own and shared experience and knowledge.</p>
                        <p style="text-align:justify">As a collective site, Keys to Teach is open to everyone. Contributions are welcomed and encouraged to help make the collection grow and meet the ever changing pedagogic needs (of a progressive) and constant changes of society.</p>
                    </div>
                    
                    <div class="col-sm-7 col-md-8 spacing" style="text-align:center">
                        <p style="text-align:justify">Keys to teach was created by J. Marina Gómez as a product of her MA in Music Education and Performance project at the Trinity Laban Conservatoire of Music and Dance. Her interest in improving her teaching strategies took her to the creation of this website.</p>
                        <p style="text-align:justify">Teaching piano (or teaching in general) requires a lot of creativity, imagination, trial and (unfortunately) error. Besides, most of the strategies we use when teaching piano are the strategies and methodologies that we ourselves have received from others. But what happens if we lacked good quality lessons in the beginning, encounter problems we never had as pupils or simply lack teaching experience and relevant resources?</p>
                    </div>
                    
                    
                    <div class="hidden-xs col-sm-5 col-md-4 spacing">
                        <img src="../img/about-3.jpg" alt="Piano playing" class="img-responsive img-thumbnail about-img">
                    </div>
                    <div class="col-xs-12" style="visibility: hidden">
                        <h1>something</h1>
                    </div>
                    <div class="hidden-xs col-sm-5 col-md-4 spacing">
                            <img src="../img/about-4.jpg" alt="Piano playing" class="img-responsive img-thumbnail about-img">
                    </div>
                    <div class="col-sm-7 spacing" style="text-align:center">
                        <p style="text-align:justify">Poor quality lessons can be detrimental for any learner. From unhealthy posture/technique to demotivation, frustration and even giving up on the instrument altogether. This is the reason why Keys to Teach was created - to support tutors by offering a collection of resources which can help to improve the quality of their lessons and encourage creative teaching in every situation and need.</p>
                        <p style="text-align:justify">These strategies will help pupils build a foundation for their performing career as well as their own strategies or "keys to teach" in the future.</p>
                    </div>
                    <br><br>
                    <div class="col-sm-12">
                        <h3 class="bold"><strong>Disclaimer</strong></h3>
                        <p style="text-align:justify">Keys to Teach is a collection of tools and resources intended to support teachers and instructors of piano with their lesson. These keys or resources come from a range of different sources and do not intend to impose any' 'right' or 'wrong' way to teach the piano but rather to offer a variety of strategies from which to choose and experiment with. Supervision from a professional instructor is recommended in order to avoid any kind of injury or bad pianistic habits.
Also be aware of child safeguarding legislation.</p>
                    <br>
                    </div>
                    <br>
                    
                </div>
            </div>
    </section>

<% include ./partials/footer %>
