<% include ./partials/header %>

    <!-- Header -->
    <div id="landing-header" style="margin: 10px 0 50px 0">
        <div id="startchange" class="container text-center">
            <div class="col-sm-12">
                <h1 class="fancy-title h-custom">Keys to Teach</h1>
                <img src="../img/landing1.png" alt="Keys to teach landing logo" class="img-responsive" style="max-height:250px;margin:0 auto">
                <div class="col-sm-12">
                        <h2 style="font-weight: 500;color: #605E5E">An online collection of teaching</h2>
                        <h2 style="font-weight: 500;color: #605E5E">strategies for piano tutors</h2>
                        <div class="input-group stylish-input-group" style="max-width: 300px;display:inline-block;padding: 20px">
                                <form role="search" action="/search">
                                    <div class="input-group stylish-input-group">
                                        <input type="text" class="form-control typeahead" name="query" placeholder="Search">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        <h3>HOW TO USE SEARCH THE SEARCH BAR</h3>
                        <p>To explore the collection, go to the search bar below, type your key word(s) (e.g. wrist, posture, games) and then press enter. A list of relevant "keys" will appear below for you to start using during your individual piano lessons. Alternatively, you can also click on the tags on the "Search by Tags" column on the right-hand side..</p>
                        <p>If you did not find what you were looking for, please try a different key word or make sure it is correctly spelled. If you still can't find it, please let me know what kind of teaching strategy you are looking for by sending me a message using the contact form in the "contact" section (navigation bar).</p>
                        <p>You are also invited to contribute to this website by sharing your own strategies in the "contribution" section.</p>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<% include ./partials/footer %>
