<% include ./partials/header %>

    <!-- Header -->
    <div id="landing-header" style="margin: 10px 0 50px 0">
        <div id="startchange" class="container">
            <div class="col-sm-push-3 col-sm-6 prelude">
                <h1 class="fancy-title h-custom">Keys to Teach</h1>
                <img src="../img/landing1.png" alt="Keys to teach landing logo" class="img-responsive" style="max-height:250px;margin:0 auto">
                <div class="col-sm-12">
                        <div class="input-group stylish-input-group" style="max-width: 300px;display:inline-block;padding: 20px">
                            <form role="search" action="/search">
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control typeahead" name="query" placeholder="Search">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                <h2 style="font-weight: 500;color: #605E5E">An online collection of teaching</h2>
                <h2 style="font-weight: 500;color: #605E5E">strategies for piano tutors</h2>
            </div>
            </div>
        </div>
    </div>
    

<% include ./partials/footer %>
