<% include ./partials/header %>

<div class="container" style="margin: 100px auto">
    <div class="col-sm-6">
        <h1><% keys.title %></h1>
        <p class="Key-att"><% keys.description %></p>
        <p class="Key-att"><% keys.sourceAuthor %></p>
        <a href="<% keys.description %>">Link</a>
        <button class="btn-tags">Tag 1</button>
        <button class="btn-tags">Tag 1</button>
        <button class="btn-tags">Tag 1</button>
        <button class="btn-tags">Tag 1</button>
        <button class="btn-tags">Tag 1</button>
    </div>

<% include ./partials/footer %>
