<% include ./partials/header %>

<!-- Survey Section -->
<section id="survey">
    
    <div id="startchange" class="container">
        <h1 class="h-custom">Survey Results</h1>
        <p>To support this project, I created an online survey to collect data about the acquirement and perception of teaching strategies used during the delivery of individual piano lessons. The questionnaire contained 8 to 9 questions (depending on the answers given) and was directed to any adult pianist with experience in teaching individual piano lessons or pianists ready to or considering entering the field of piano teaching. 
        </p>
        <p>A total of 55 pianists, from none or little experience in piano teaching to over 30 years of experience in the field, took part in the survey. Among the 55 people surveyed, 51* were currently teaching or had given piano lessons in the past. And out of the 4 people with no teaching experience, 2* answered that it was likely (1)* or very likely (1) for them to teach in the future while 2 people answered it was unlikely for them to teach in the future.
        </p>
        <img src="dist/img/survey-results.png" class="img-responsive survey-img" alt="Keys to teach survey results">
        <p>The first interesting data found was that 30 out of the 51* people with teaching experience had encountered a situation where they felt they lacked the necessary teaching strategies to teach or solve a specific matter. They were also asked to describe what kind of problems they found or what teaching strategy they felt they lacked. The comments were very varied, from explaining a specific technique, style or skill as sight-reading, to encouraging motivation and so on. 
        </p>
        <p>Moving on to the perception on the acquirement of teaching strategies, to the question "How was the manner in which you've been taught in the past influenced your current teaching methods (use of teaching strategies)?", most participants responded that it influenced a lot (31), influenced completely (13) or influenced a little (10) while only 1 participant marked it as "does not influence". 
        </p>
        <img src="dist/img/survey-results2.png" class="img-responsive survey-img" alt="Keys to teach survey results">
        <p>For the question "From where did you learn most of your current teaching strategies?", most participants mentioned past or current piano teachers or instructors among other sources such as videos, seminars and conferences, courses, books, own experience with trial and error and the Internet.
            </p>
        <p>Furthermore, 33 out of the 55 surveyed participants had already searched teaching strategies on the Internet. Also, participants were asked about why they searched teaching strategies online (or why not). Answers were again varied but, in general, people used online resources to improve their teaching strategies, “to have more resources” because “there is a lot of good information online nowadays”. As for the rest of participants, most people did not have the need to search for teaching strategies or preferred other sources such as books or shared ideas with more experienced professors. However, there were some people who did not know where to find “good information” online or that never thought about the Internet as a source tool.
            </p>
    </div>
</section>

<% include ./partials/footer %>