<% include ./partials/header %>

<!-- Survey Section -->
<section id="survey" style="margin: 400px auto">
    
    <h1>Survey</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p style="margin: 30px auto;text-align:justify">This survey aims to collect data for research purposes on the acquirement, use and importance of teaching strategies used during the delivery of individual piano lessons. You will be asked between 8 to 9 questions which should take less than 5 minutes to answer.</p>
            </div>
        </div>
    </div>
    <a class="typeform-share button btn btn-tags" href="https://marina321.typeform.com/to/h0ZrcG" data-mode="popup" target="_blank">Take me there </a> 
</section>

<% include ./partials/footer %>